<section class="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Countries by Regional Bloc</a>
  </nav>
  <div class="container">
    <form class="form-inline py-3">
      <div class="form-group pr-3">
        <!-- <label for="exampleFormControlSelect2" hidden>Example multiple select</label> -->
        <select class="form-control" id="selectedRegion" name="selectedRegion" [(ngModel)]="selectedRegion">
          <option *ngFor="let region of regions" [ngValue]="region.code">{{region.code}}</option>
        </select>
      </div>
      <div class="form-group pr-3">
        <!-- <label for="exampleFormControlSelect2" hidden>Example multiple select</label> -->
        <select class="form-control" id="selectedLanguage" name="selectedLanguage" [(ngModel)]="selectedLanguage" (change)="translate(selectedLanguage, countryList)">
          <option *ngFor="let language of languages" [ngValue]="language.code">{{language.code}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" (click)="updateList(true)">OK</button>
      <div class="spinner-grow text-primary" role="status" [hidden]="!loading">
        <span class="sr-only">Loading...</span>
      </div>
    </form>

    <div class="row">
      <div class="col">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" *ngFor="let country of countryList" (click)="loadCountryDetail(country)">{{
            country.displayName }}</a>
        </div>

      </div>
      <div class="col-8">
        <div class="card">
          <img class="card-img-top" src="{{selectedCountry.googleMapURL}}" alt="{{selectedCountry.name}}">
          <div class="card-body">
            <h4 class="card-title">{{selectedCountry.displayName}}<img src="{{selectedCountry.flag}}" width="40px" alt="{{selectedCountry.name}}"></h4>
            <dl class="row">
              <dt class="col-sm-3">Capital</dt>
              <dd class="col-sm-9">{{selectedCountry.capital}}</dd>
              <dt class="col-sm-3">Area</dt>
              <dd class="col-sm-9">{{selectedCountry.area}}</dd>
              <dt class="col-sm-3">Region</dt>
              <dd class="col-sm-9">{{selectedCountry.region}}</dd>
              <dt class="col-sm-3">Regional Blocs</dt>
              <dd class="col-sm-9">
                <dl class="row">
                  <dd class="col-sm-9" *ngFor="let regionalBloc of selectedCountry.regionalBlocs">{{regionalBloc.name}} ({{regionalBloc.acronym}})</dd>
                </dl>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>